@font-face {
    font-family: "Western";
    src: url("RioGrande.ttf") format("truetype");
}

* {
    font-family: "Western", "serif";
    font-weight: 100;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background: black;
    background: center no-repeat url("https://i.pinimg.com/originals/15/1c/34/151c34229df90536816707c8c9e597fb.jpg");
}

*::selection {
    background: transparent;
}

.game-container {
    width: 700px;
    height: 700px;
    border: 15px inset saddlebrown;
    border-radius: 15px;
    position: relative;
    background-color: rgba(255, 255, 255, .4);
    display: flex;
}

.ammo-container {
    background-color: dimgrey;
    width: 50px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 5px solid saddlebrown;
    padding: 0 5px 0 3px;
}

.bullet {
    background: darkgoldenrod;
    border: 2px solid brown;
    border-radius: 40% 3px 3px 40%;
    width: 100%;
    height: 15%;
    color: saddlebrown;
    font-size: 1.2rem;
    font-weight: 800;
}

.marquee-container {
    width: 100%;
    height: 100%;
}

marquee {
    height: 20%;
    padding-top: 5%;
    border-bottom: 5px solid saddlebrown;
    cursor: url(reticle.cur), auto;
}

marquee:first-of-type {
    padding-top: 6.5%;
}

.invisible {
    opacity: 0;
}

.reload-button {
    position: absolute;
    bottom: 20px;
    right: 80px;
    width: 100px;
    height: 100px;
    border: 4px inset gold;
    border-radius: 50%;
    background-color: saddlebrown;
    color: gold;
    font-size: 1.5rem;
    font-weight: 100;
}

.target img {
    height: 75px;
}

.scoreboard {
    position: absolute;
    bottom: 0;
    left: 0;
    background: center no-repeat url("https://c1.wallpaperflare.com/preview/410/412/858/background-tree-wood-boards.jpg");
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid saddlebrown;
    border-radius: 0 5px 0 0;

}

.score {
    font-size: 2.5rem;
    color: gold;
}

.target-row * {
    margin-right: 50px;
}