name: shapoopie

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Pull repository
        uses: actions/checkout@v5

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Deploy to Raspberry Pi
        run: |
          ssh -o StrictHostKeyChecking=no frank@krab.zone << 'EOF'
            cd ~/Git/krab.zone
            eval "$(ssh-agent -s)"
            ssh-add ~/.ssh/github_deploy
            git pull origin main
          EOF
