name: shapoopie

# Trigger the workflow on push or pull request events to the "main" branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Pull repository
        uses: actions/checkout@v5

      # Set up SSH agent and add SSH private key from GitHub secrets
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}  # This is your private SSH key stored in GitHub Secrets

      - name: Check SSH agent
        run: |
          ssh-add -l
